<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busqueda hilados</title>
</head>
<body>

    <p>Estamos buscando hilados con codigo de color: {{hilado}}</p>

    {% if hilados %}

        <ul>
            <p>Las siguientes partidas tienen el código de color buscado:</p>
            {% for hilado in hilados %}
                
                <li>
                    Partida: {{hilado.partida}}
                </li>
            {% endfor %}
                
        </ul>

    {% else %}

        <p>No hubo coincidencias!</p>
        
    {% endif %}
        

</body>
</html>
