<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busqueda cliente</title>
</head>
<body>

    <p>Estamos buscando las fabricas: {{fabrica}}</p>

    {% if fabricas %}

        <ul>

            {% for fabrica in fabricas %}
                <li>
                    {{fabrica.razonSocial}}-{{fabrica.direccion}}
                </li>
            {% endfor %}
                
        </ul>

    {% else %}

        <p>No hubo coincidencias!</p>
        
    {% endif %}
        

</body>
</html>