<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leer Cliente</title>
</head>
    <body>

        <h1>Detalle del Cliente {{cliente.razonSocial}}</h1>
        <h2>CUIT: {{cliente.cuit}}</h2>
        <h2>Direccion: {{cliente.direccion}}</h2>
        <h2>Provincia: {{cliente.provincia}}</h2>
        <h2>Código Postal: {{cliente.codigoPostal}}</h2>
        
        <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni obcaecati explicabo numquam cumque labore, quod molestias perspiciatis soluta velit ut ab iusto esse. Impedit voluptas rem voluptatum aut eius fugiat.</h3>


    </body>
</html>

