<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leer Hilados</title>
</head>
    <body>

        <h1>Detalle de la Partida {{hilado.partida}}</h1>
        <h2>Artículo: {{hilado.articulo}}</h2>
        <h2>Código color: {{hilado.codigoColor}}</h2>
        <h2>Kg: {{hilado.kg}}, cantidad de conos: {{hilado.cantidadConos}}</h2>
        <h2>Fecha de teñido: {{hilado.fechaTenido}}</h2>
        <h2>Estado Producción: {{hilado.estado}}</h2>
        <h2>Clientes partida: {{hilado.clienteTenido1}}, {{hilado.clienteTenido2}}, {{hilado.clienteTenido3}}, 
            {{hilado.clienteTenido4}}, {{hilado.clienteTenido5}}</h2>
        
        <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni obcaecati explicabo numquam cumque labore, quod molestias perspiciatis soluta velit ut ab iusto esse. Impedit voluptas rem voluptatum aut eius fugiat.</h3>


    </body>
</html>