{% extends "appProduccion/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}


    <h1>Lista de Hilados</h1>

        {% for hilado in hilados %}
            <li> 
                <a href="{% url 'DetalleHilado' hilado.id %}">{{hilado}}</a>
            </li>
            <button>
                <a href="{% url 'EliminaHilado' hilado.id %}" >Eliminar</a>
            </button>
            <button>
                <a href="{% url 'ActualizaHilado' hilado.id %}" >Editar</a>
            </button>
        {% endfor %}
    <ul></ul>
    <ul></ul>
    <ul>
        <button>
            <a href = "{% url 'BusquedaHilado' %}">Buscar hilado</a>
        </button>
        </ul>
    <ul>
        <button>
            <a href = "{% url 'CreaHilado' %}">Crear hilado</a>
        </button>
        </ul>




{% endblock %}