{% extends "appProduccion/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

    <!-- Aqui va el contenido que cambia-->
    <h1>LANHIL SAIC</h1>

    <h4> {{mensaje}}</h4>  <!-- este mensaje viene del logueo de la views en el sector logueo-->

    <p>La empresa</p>
    <h3>La Empresa
        Somos una empresa familiar, dirigida por profesionales. Nuestro origen se a 1968. Con una moderna planta industrial, un centro de distribución y oficinas administrativas distribuidas en un lugares estratégicos, hoy empleamos en forma directa a 1.200 colaboradores.</h3>
 <!-- Icons Grid-->
 <!-- Image Showcases-->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-1.jpg')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>De una pequeña hilandería a los líderes de la industria</h2>
                <p class="lead mb-0">Somos una empresa pujante que se enorgullece de su gente y su pasado, que trabaja en equipo y atiende de manera personalizada a sus proveedores y a sus clientes.</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-2.jpg')"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Asumiendo nuestro liderazgo</h2>
                <p class="lead mb-0">estamos comprometidos con los destinos de nuestro sector industrial. Tenemos un rol activo en el desarrollo y defensa de toda la cadena de valor agro textil e indumentaria. Lo hacemos cotidianamente desde nuestra empresa, y junto a otras empresas y referentes del sector en la Fundación Pro Tejer, como así también participando en las entidades gremiales empresarias más representativas del país en defensa de la industria nacional.</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-3.jpg')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Nuestra prioridad</h2>
                <p class="lead mb-0">Puesta en la calidad de nuestra producción y todo Lanhil está comprometido a mejorar día a día los productos que producimos para clientes en nuestro país y vecinos.</p>
            </div>
        </div>
    </div>
</section>
<!-- Testimonials-->
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">Las características de los artículos</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-1.jpg" alt="..." />
                    <h5>Títulos Ne</h5>
                    <p class="font-weight-light mb-0">1/1 – 4/1 – 5/1 – 6/1 – 7/1-  8/1 – 10/1 – 12/1 – 14/1
                        16/1 – 20/1 – 22/1 – 24/1 – 30/1 –  36/1 – 40/1</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-2.jpg" alt="..." />
                    <h5>Tecnología</h5>
                    <p class="font-weight-light mb-0">Peinado | Cardado | Open End | Retorcidos | Flame | Corespun                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="assets/img/testimonials-3.jpg" alt="..." />
                    <h5>Fibras</h5>
                    <p class="font-weight-light mb-0">Algodón | Poliéster | Viscosa | Acrílico</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call to Action-->



{% endblock %}