{% extends "appProduccion/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}


        
        {% for fabrica in fabricas %}
            <li> {{fabrica}} </li>
            <div>
                    <form action="{% url 'EliminoFabrica' fabrica.id %}" method="POST">{% csrf_token %}
                        <button type="submit">Eliminar</button>
                    </form>
                    <button>
                        <a href="{% url 'EditarFabrica' fabrica.id %}" >Editar</a>
                    </button>
            </div>
            
        {% endfor %}

        <a href = "{% url 'FormularioFabrica' %}">Crear Fabrica</a>
    


{% endblock %}